.title {
   text-align: center; 
}

.list-subtitle {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace

}
.list-info {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}